# Environment
**/.env
**/.env.local
**/.env.docker
**/appsettings.json

# Python
**/__pycache__/

# IDE
.vscode/
.idea/

# Docker volumes
docker/postgres/data/

# LSJ_ETL
etl/env
etl/data/
etl/etl.code-workspace

# LJS_AUTH
auth/auth.code-workspace
auth/src/AuthService/bin/
auth/src/AuthService/obj/

# LSJ_API
luxjobstats-api/luxjobstats-api.code-workspace
