# Environment
**/.env
**/.env.local
**/.env.docker
**/appsettings.json

# Python
**/__pycache__/

# IDE
.vscode/
.idea/

# Docker volumes
docker/postgres/data/

*.code-workspace

# LSJ_ETL
etl/env
etl/data/

# LJS_AUTH
auth/src/AuthService/bin/
auth/src/AuthService/obj/

# LSJ_API
