services:
  - name: luxjobstats-api
    type: web
    runtime: docker
    rootDir: luxjobstats-api
    buildCommand: mvn -DskipTests clean package
    startCommand: java -jar target/*.jar
    healthCheckPath: /api/health
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
