services:
  - name: luxjobstats-api
    type: web
    runtime: docker
    rootDir: luxjobstats-api
    healthCheckPath: /api/health
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
