services:
  - name: luxjobstats-api
    type: web
    rootDir: luxjobstats-api        
    buildFilter:
      paths:
        - luxjobstats-api/**       
    env: nixpacks
    buildCommand: mvn -DskipTests clean package
    startCommand: java -jar target/*.jar
    healthCheckPath: /api/health
    numInstances: 1
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod

